# virtual environment
myenv/
venv/
.env/
*.pyc
__pycache__/

# YOLO training folder
#yolov5/
runs/
weights/
*.pt

# build artifacts
*.zip
*.rar
*.7z

# uploads
static/uploads/*
!static/uploads/placeholder.jpg
# HAPUS baris "yolov5/" yang lama, GANTI dengan ini:

# Izinkan folder yolov5, tapi abaikan folder berat di dalamnya:
yolov5/runs/
yolov5/.git/
yolov5/__pycache__/
yolov5/models/*.pt
!yolov5/models/yolov5s.yaml